body{
    font-size: 0.85rem;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#container{
    width:100%;
    height:100%;
    grid-gap:5px;
  }
.half{
    width:90%;
    height:50%;
    background-color: #FCEDED;
 }
 #dial{
    font-size: 1.3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
    flex-wrap:wrap;
    float:right;
    margin-left:30%;
    margin-top:12%;
    position:fixed;
}


@media screen and (max-width:14rem){
    .responsive{
        padding:0px 0.8rem;
        background-color: purple;
    }
}

a.button3{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-size: 2em;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
  margin-left:-32.5%;
  margin-top:22%;
  position:absolute;
  }
  a.button3:hover{
  background-color:#4095c6;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  @media all and (max-width:30em){
  a.button3{
  display:block;
  margin:0.2em auto;
  }
  }

.sidebar{
      width:10%;
      height:100%;
      background-color: #F3DCDC;
      margin-top:0;
      float:right;
  }

.idc{
      height:50%;
      width:90%;
      background-color: #D6BEBE;
  }
  .obrazek {
      
    float: left;
    height: auto;
    width: 300px;
    margin-left:55%; 
    margin-top:10%;
  }
  .poch {
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
  }
   
  .poch:hover {
    -webkit-transform: rotate(10deg);
       -moz-transform: rotate(10deg);
         -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
            transform: rotate(10deg);
  }

  .float-arrow {
	width: 50px;
	height: 50px;
	border-radius: 0%;
	overflow: hidden;
	transform: translatey(0px);
	animation: float 0.5s ease-in-out infinite;
	position:fixed;
    margin-left:34.5%;
    margin-top:19%;
}
 
  @keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
